*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria;
}

html,body{
    width: 100%;
}

.form-group{
    width: 100%;
    padding: 0em 1em 0em 1em;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}
.form-group input{
    width: 100%;
    padding: 0.3em;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #DC143C;
}

.erros-validate{
    color: #DC143C;
    border-left: solid 3px #DC143C;
}

.erros-validate span{
    margin-left: 0.5em;
    font-weight: bold;
}

main{
        
}

footer{
    height: 10vh;
}

.btn-delete,.btn-edit{
    background-color: transparent;
    text-align: center;
    padding: 0.3em;
    border-radius: 0.2em;
}

.btn-delete{
    border: 2px solid #DC143C;
    color: #DC143C;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    
}

.btn-delete:hover{
    color: #fff;
    background-color: #DC143C;
}

.btn-edit{
    border: 2px solid #1880b1;
    color: #1880b1;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.btn-edit:hover{
    color: #fff;
    background-color: #1880b1;
}

main{
    min-height: 85vh;
}