*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria;
}

html,body{
    width: 100%;
}

.form-group{
    width: 100%;
    padding: 0em 1em 0em 1em;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}
.form-group input{
    width: 100%;
    padding: 0.3em;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #DC143C;
}

.erros-validate{
    color: #DC143C;
    border-left: solid 3px #DC143C;
}

.erros-validate span{
    margin-left: 0.5em;
    font-weight: bold;
}

main{
    height: 85vh;    
}

footer{
    height: 10vh;
}